html{
    
        .burger-box{
        position: absolute;
        bottom:50px;
        left:50px;
    } 

    .ingredient-wrapper{
        position: relative;
        display: block;
        overflow: visible;
        .ingredient {
            position: absolute;
            // left: 0;
            bottom:0;
            display: block;
        }
    }

    .burger-overlay {
        position: absolute;
        bottom: 100px;
        left: 0;
        right: 0;
    }

    .burger-count{
        font-family: Roboto;
        font-size: 40px;
        margin-bottom: -40px;
        margin-left: -29px;
        text-shadow: 0px 0px 18px white;
    }

    .ir{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

    .burger-bar {
        position: absolute;
        bottom:0;
        left:350px;
        right:0;
        height:200px;
        //background: white;
    }

    .burger-bar-burger{
        position: absolute;
        bottom: 20px;
    } 


    .burger-bar-burger-col{
        position: relative;
        float:left;
        height: 100%;
    } 

    .burgerbarburger-hasname{
        margin-left: 40px;
    }


    .burger-name{
        transform: rotate(270deg);
        transform-origin: 0;
        position: absolute;
        left: -20px;
        font-size: 25px;
        font-family: Roboto;
        text-shadow: 0px 0px 18px white;
        white-space: nowrap;
        left: -19px;
        bottom: 17px;
    }
}